.container {
  min-height: 100vh;
  background-color: #f3e8ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  width: 100%;
  max-width: 320px;
  text-align: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}


.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.primaryBtn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4338ca;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.primaryBtn:hover {
  background-color: #1e40af;
}

.outlineBtn {
  display: block;
  width: 100%;
  padding: 12px;
  color: #4338ca;
  border: 2px solid #4338ca;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.outlineBtn:hover {
  background-color: #e0e7ff;
  color: #1e40af; 
}
